---
- hosts: all
  become: true
  tasks:
    - name: installs nginx
      apt: pkg=nginx state=installed update_cache=true
      notify:
        - start nginx
  handlers:
    - name: start nginx
      service: name=nginx state=started
